<head>
    <title>{{ site.title }} - {{ site.subtitle }}</title>

    {% include "partials/meta-tags.njk" %}

    {% if site.favicon %}
    <!-- Favicons -->
    <link rel="shortcut icon" href="{{ site.favicon }}" />
    {% endif %}

    <link rel="canonical" href="{{ site.url }}" />

    {% include "partials/google-analytics.njk" %}
</head>
